# Ignorar entorno virtual
venv/
.env/

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store

# Archivos grandes o locales
*.log
*.h5
*.ckpt

# 🧹 Ignorar archivos del dataset local
src/cifar-10-batches-py/

# 🧹 Ignorar entornos virtuales locales
venv/
cnn-cifar10-venv/

# 🧹 Ignorar archivos temporales o de cache
__pycache__/
*.pyc
*.pyo

# 🧹 Ignorar configuraciones de VS Code
.vscode/

